canvas {
    border: 5px solid black; 
}
  



/*This is how the cursor swaps to a crosshair for the eyedropper tool
It is possible to use this for completely custom crosshairs as well, given an
.png, .cur, or url to one of these */
#customCursor {
    position: absolute;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    pointer-events: none;
}


/* This is how the color circles are able to overlapping */

.box {
    position:absolute;

}

.color-pallet2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    outline-width: 5px;
    outline-color:black;
    outline-style: solid;

}
.color-pallet {
    position: absolute;
    margin-top: 0%;
    margin-left: 6%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    outline-width: 5px;
    outline-color:black;
    outline-style: solid;
    margin-left: 30px;
    
}

.toolbarTop {
    margin-top: 100px;
    margin-bottom: 10px;
    width: auto;
    height: 20px;
    outline-width: 10px;
    background-color: rgb(81, 81, 81);
}
.toolbarBot {
    margin-top: 70px;
    width: auto;
    height: 20px;
    outline-width: 10px;
    background-color: rgb(81, 81, 81);
}
